* {
	box-sizing:border-box;
	font-size:16px;
	font-family: "Righteous", "Russo+One";
}
body {
	background-color:#4d4d4d;
	color:white;
}

header {
	background-color: rgba(241, 25, 13, 0.65);
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol{
	list-style-type: lower-alpha;
}

input:not([type="radio"]) {
	border:2px solid red;
	display:block;
	padding:10px 30px;	
	margin:0 auto 20px;
	box-shadow:3px 3px 8px 0 #000;
}

input:not([type="radio"]):hover, input:not([type="radio"]):active {
	box-shadow:3px 3px 8px 0 inset;
}

footer {
	text-align:center;
	padding:15px 0;
	background-color:#f2f2f2;
}

p, h1, h3{
	padding:0 10px;
}

h1{
	font-size:18px;
}

h3{
	font-size:18px;
	font-weight:normal;
}

.container {
	width:100%;
	margin:0 auto;
	border:1px solid #f2f2f2;
}

.status {
	clear:both;
	margin-bottom:20px;
	}

.status p {
	margin-top:0;
}

.results {
	border:1px solid black;
	width:100%;
	text-align:center;
}

.results td {
	border-top:1px solid silver;
	padding:10px 5px 5px;
	width:50%;
}

.right {
	border-right:1px solid silver;
}

.finalScore {
	text-align:center;
	padding:10px 0;
}

.answers label {
	padding:10px 0;
	display:block;
	width:100%;
}
.hidden {
	display:none;
}
@media (min-width:568px){
	.container { 
		width:450px;
		margin-top:1rem;
		padding:1rem;
	}
	.status {
		display:flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.results {
		width:auto;
	}
}
